# MongoDB Configuration
MONGODB_URI=mongodb://username:password@host:port/database

# Data Fetching Configuration
PERIOD=1d
INTERVAL=1d
GROUP_BY=ticker

# Retry Configuration
MAX_WORKERS=1
MAX_RETRIES=3
INITIAL_DELAY=1

# Upload Configuration
UPLOAD_TO_MONGODB=FALSE

# File Paths
DIR_PATH=/app
STOCK_LIST_PATH=stock_list.csv

# Market Closed Configuration
ENABLE_HOLIDAY_CHECK=TRUE 